# Node modules
node_modules/

# Build / Vite / Dist
/dist
/.vite
/client/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db
